.header {
  width: 55%;
  background-color: #003865;
  color: white;
  text-align: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  margin-top: 15px;
  font-size: 50px;
  letter-spacing: 3px;
}

.input {
  padding-left: 3rem;
  padding-right: 3rem;
}
.username {
  position: absolute;
  right: 3%;
  top: 2%;
}
